.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}


.header .container {
    width: 100%;
    max-width: 1100px;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
}

.header__logo-link {
    z-index: 11;
}

.header__logo {
    vertical-align: middle;

}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 59px;
}

.header__nav__ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__list-item {
    padding: 35px 16px;
}

.nav__list-link {
    color: #939CAA;
    text-decoration: none;
}

.nav__list-link:hover {
    color: #FCB72B;
}

.button-link {
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 37px;
    margin-left: auto;
    background-color: #FCB72B;
    border: 2px solid #FCB72B;
}

.button-link:hover {
    color: #FCB72B;
    background-color: white;
    border: 2px solid #FCB72B;
}

.hamburger-btn {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 11;
}

.hamburger--btn__img--exit{
    display: none;
}


@media only screen and (max-width: 710px) {
    .header .container {
        margin-top: 22px;
    }

    .header__nav{
        display: none;
    }

    .header .button-link{
        display: none;
    }

    .header--adaptive .header__nav {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 70%;
        height: 100%;
        z-index: 10;
        margin: 75px auto;
        background-color: #333A44;
    }

    .header--adaptive .header__nav__ul{
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        text-align: left;
    }

    .header--adaptive .nav__list-item{
        padding: 15px 0;
    }


    .header--adaptive .button-link {
        display: block;
        position: fixed;
        top: 80%;
        z-index: 11;
        margin: 0 auto;
        margin-right: 20px;
        margin-left: 50px;
        transform: translateX(25%);
    }

    .header__logo-link {
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .hamburger-btn{
        display: block;
    }
   

}

@media only screen and (max-width: 600px){
    .header--adaptive .button-link {
        display: block;
        position: fixed;
        top: 80%;
        z-index: 11;
        margin: 0 auto;
        margin-right: 20px;
        margin-left: 50px;
        transform: translateX(-5%);
    }
}


@media only screen and (max-width: 500px){
    .header--adaptive .button-link {
        display: block;
        position: fixed;
        top: 80%;
        z-index: 11;
        margin: 0 auto;
        // margin-right: 90%;
        // margin-left: 50px;
        transform: translateX(-1%);
    }
}

@media only screen and (max-width: 350px){
    .header--adaptive .button-link {
        display: block;
        position: fixed;
        top: 80%;
        z-index: 11;
        margin: 0 auto;
        margin-left: -15px;
        transform: translateX(-1%);
    }
}

